<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>

<body>
    <section>
        <h1>Posts API</h1>
        <p>Welcome to posts API, to be able to use it</p>
        <p>all of your requests need to go through <code>/api/v1/*</code></p>
        <p>Check the swagger docs <a href="/api">here</a></p>
    </section>
</body>

</html>